// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.product-table {
    width: 700px;
    table-layout: fixed;
    border-collapse: collapse;
}

.product-table tbody{
  display: block;
  overflow: auto;
  height: 500px;
  width: 100%;
}

.product-table thead tr{
  display: block;
  width: 100%;
}

.product-table th, .product-table td {
  padding: 5px;
  text-align: left;
  width: 200px;
}

.new-product-form {
	padding: 20px;
}
